<b>📅 Список мероприятий:</b>

{{ range .Events -}}
    {{- if .IsAvailable -}}
        ✅ {{ .Title }} <a href="{{ .BookURL }}">Забронировать →</a>
    {{- else -}}
        ❌ {{ .Title }}
    {{- end -}}

    {{- println "" -}}
{{ end -}}